<mat-toolbar color="primary">
  <button mat-icon-button routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Iniciar Sesión</span>
</mat-toolbar>

<div class="login-container">
  <mat-card>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo" pattern=".+@uanl.edu.mx" type="email" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contrasena" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Ingresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
